// Specific CSS for your home-page
body {
  background-color: black;
}

.body-frame{
  color: white;
}

.title {
  width: 70%;
  margin: 25px;
  a {
    i {
      margin: 10px;
      align-self: center;
      text-decoration: none;
      color: rgb(113, 143, 226);
    }
  }
}
