<div class="navbar">
  <%= link_to root_path do %>
    <i class="fas fa-ghost"></i>
  <% end %>

  <!-- <div class="icons">
      <%= link_to favorites_path do %>
        <i class="far fa-heart"></i>
      <% end %>
      <i class="far fa-user"></i>
  </div> -->
</div>
