.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  background-position: right 15% bottom 25%;
  .container{
    padding: 150px 0;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 0 0 2px rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
}

.banner h3 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 0 0 3px rgb(155, 153, 153);
}
