.body-frame{
  width: 80%;
  margin: 10px auto;
  .title{
    margin: 40px 0 20px 0;
  }
}

.animes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 10px;
  row-gap: 40px;
  .anime-card {
    // height: 300px;
    // width: 220px;
    .anime-poster{
      align-self: center;
      // height: 300px;
      // width: 220px;
      img{
        height: 320px;
        width: 220px;
        border-radius: 10px;
      }
    }
  }
}
.list-container{
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  align-items: left;
  // justify-content: center;
}

.list-cards {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  .list-card {
    height:220px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    a {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 23px;
      font-weight:500;
      text-align: center;
      margin-top: 90px;
      text-shadow: 0 0 2px rgb(176, 173, 173);
    }
    &:hover{
      background-color: rgba(0, 0, 0, 0.5)
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
