@import "../config/_media.scss";

.body-frame{
  width: 75%;
  margin: 0 auto;
  @include lg_mobile{
    width: 80%;
  }
  @include md_mobile{
    width: 85%;
  }
  @include sm_mobile{
    width: 85%;
  }
  .title{
    margin: 40px 0 30px 0;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.animes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 10px;
  row-gap: 40px;

  @include lg_mobile{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  @include md_mobile{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  @include mobile{
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  @include sm_mobile{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .anime-card {
    // height: 300px;
    // width: 220px;
    .anime-poster{
      align-self: center;
      // height: 300px;
      // width: 220px;
      img{
        height: 320px;
        width: 220px;
        border-radius: 10px;
        @include sm_mobile{
          height: 220px;
          width: 150px;
        }
      }
    }
  }
}
.list-container{
  margin: 0 auto;
  // display: flex;
  // flex-direction:column;
  // align-items: center;
}

.list-cards {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  @include lg_mobile{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  @include md_mobile{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  @include mobile{
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  @include sm_mobile{
    grid-template-columns: 1fr;
  }

  .list-card {
    height:220px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    a {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 23px;
      font-weight:500;
      text-align: center;
      margin-top: 90px;
      text-shadow: 0 0 2px rgb(176, 173, 173);
    }
    &:hover{
      background-color: rgba(0, 0, 0, 0.5)
    }
  }
}
