.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100vw;

  i {
    font-size: 25px;
    margin: 10px;
    color: rgb(113, 143, 226);
  }
}
